
/* nav styles */
body{
    margin: 0;
    background-color: #F5F8FF;
}
.header{
    display: flex;
    justify-content:space-between;
    margin:0px 150px 0px 150px;
    align-items: center;
    max-width:1440px;
    max-height:698px;
}
.inter-navfont1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-size: 34px;
  line-height: 150%;
  color: #4e4bff;
  margin-top: 50px;
}
.navbutton{
    width:132px;
    height:48px;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    background-color:#4E47FF;
    color:#FFFFFF;
    margin-top: 50px;
}
.navclass{
    background-image: url('../images/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.hero-writings{
   width:905px;
   margin: 152px auto;
   padding-bottom: 50px;
}
.h-para{
   font-size: 65px;
   color:#252432;
   text-align:center;
}
.h-btn{
   width:174px;
   height:48px;
   padding: 12px 36px;
   background-color: #4E47FF;
   color:#FFFFFF;
   border: none;
   border-radius: 10px;
   display: block;
   margin: 37px auto;
}
.raleway-font2{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

/* Action bar styles */
.action-bar{
  display:flex;
  justify-content: center;
  margin:116px 141px;
}
.action-img img{
    width:403px;
    height:328px;
    border-radius: 48px;
}
.action-words{
   padding:62.5px 220px 62.5px 0px;
   text-align: left;
} 
.aw1{
    font-size: 42px;
    color:#252432;
    margin-bottom: 23px;
}
.aw2{
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    color: rgb(37, 36, 50,0.5);
    margin-bottom: 23px;
    width: 517px;
}
.aw3{
   font-size: 16px;
   line-height: 150%;
   width:229px;
   height:48px;
   color: #FFFFFF;
   background-color: #4E47FF;
   text-align: center;
   padding: 12px 36px;
   border:none;
   border-radius: 10px;
}

/* Productive Users */
.users{
    max-width: 1140px;
    background-color: rgba(78, 71, 255, 0.1);
    margin: 50px auto;
    border-radius: 24px;
    padding:50px 142px;
}
.u1{
    text-align: center;
    font-size: 38px;
    color: #252432;
    margin-bottom: 20px;
}
.users-num{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.users-num h1{
    color:#4E47FF;
    font-size: 70px;
    margin-bottom:0px;
}
.users-num h5{
    color: rgb(0, 0, 0,0.5);
}

/* What our users say */
.users-say{
    display: block;
    margin:137px auto;
}
.users-say h3{
    text-align: center;
    font-size: 42px;
    color:#252432;
    margin-bottom: 50px;
}
.card-container{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
}
.card{
   text-align: left;
   width:366px;
   background-color: #FFFFFF;
   padding: 24px 24px;
   border-radius: 14px;

}
.card h4{
    color:#1E1E1E;
    font-size: 30px;
}
.card p{
    font-size: 20px;
    color:#1e1e1e;
}
.reviewer img{
   width: 40px;
   height: 40px;
   border-radius: 50px;
}
.reviewer{
    display: flex;
    align-items: center;
    flex-direction:row;
    gap:10px;
}
.reviews-inside p{
    font-size: 18px;
    color:#757575;
    margin: 0px;
}
.focus{
    width: 1140px;
    background-color: #FFFFFF;
    padding: 71px 150px;
    border-radius: 14px;
    margin: 137px auto;
}
.focus-details{
    text-align: center;
}
.focus-details h3{
    font-size: 50px;
    color:#000000;
    line-height: 120%;
    margin-bottom: 20px;
}
.focus-details p{
    font-size: 25px;
    color:rgb(0, 0, 0,0.5);
    margin-bottom: 20px;
}
.focus img{
    border-radius: 48px;
    display: block;
    margin:auto;
    width:840px;
    height:364px;
}
.focus-details button{
    text-align: center;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    background-color: #4E47FF;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 150%;
    color:#FFFFFF;
}

/* Contact */
.contact{
    max-width: 1140px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap:50px;
    margin: auto;
}
.contact h3{
    font-size: 97px;
    line-height: 120%;
    text-align: left;
    color:#000000;
    padding: 71px 115px 129px 0px;
}
.contact-form{
    max-width:497px;
    display: flex;
    flex-direction:column;
}
.contact input[type="text"], input[type="email"], textarea{
    width:100%;
    padding: 20px 32px;
    border-radius: 10px;
    border: none;
    stroke:#D6DDED;
    font-size: 20px;
}
.contact textarea{
    resize:none;
}
.contact-form label{
    font-size: 18px;
    line-height: 120%;
    text-align: left;
    color:#000000;
    margin-bottom: 10px;
    margin-top: 20px;
}
.contact-form ::placeholder{
    font-size: 20px;
    line-height: 150%;
    color:rgb(0, 0, 0,o.5);
    text-align:left;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
}
.contact-form button{
    background-color: #4E47FF;
    color:#FFFFFF;
    border-radius: 10px;
    padding: 19px 101px;
    font-size: 16px;
    line-height: 150%;
    margin-top: 20px;
    border: none;
    width: 117%; 
}

/* footer styles */
